/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 150px;
}

/* ===================
A Class that can be added to any footer to fix it to bottom
===================== */

/* html { position:relative; min-height: 100%; } required for proper functioning */
.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5;
}
